<div class="panel panel-default" ng-init="getStudents()">

    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div ng-repeat="student in students">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>
                            {{student.surName}}
                        </h4>
                        <p>
                            {{student.matricNumber}}
                        </p>

                        <p>
                            {{student.sex}}
                        </p>

                        <a ng-href="students/details/{{student._id}}" class="btn btn-warning">View Details</a>

                    </div>

                    <div class="col-md-6">
                        <img src="{{student.imageUrl}}" class="thumbnail" alt="{{student.surName}}">

                    </div>

                </div>


            </div>

        </div>
    </div>